*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-section{
    height: 100vh;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
}
.logo{
    position: absolute;
    top: 28%;
    left: 47%;
}
.hero-section p{
    font-size: 60px;
    font-weight: 400;
    font-family: "poppins", sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 45%;
}
.hero-section h2{
    color: white;
    text-align: center;
    font-family: "poppins", sans-serif;
    position: relative;
    top: 43%;
    font-size: 20px;
}
.mouse{
    position: relative;
    top: 69%;
    left: 50%; 
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-35px);
    }
    60% {
      transform: translateY(-25px);
    }
}
.about{
    height: 37vh;
    width: 100%;
    font-size: 20px;
    font-family: "poppins", sans-serif;
    text-align: center;
    padding-top: 3%;
}
.about p{
    font-size: 18px;
    font-family: "lato", sans-serif;
    font-weight: 500;
    margin-top: 20px;
}
.services{
    height: 50vh;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg);
    color: white;
    text-align: center;
}
.services h2{
    font-size: 40px;
    font-family: "poppins", sans-serif;
    padding-top: 16vh;
}
.services p{
    font-size: 18px;
    font-family: "lato", sans-serif;
    font-weight: 500;
    margin-top: 20px;
}
.what-we-do{
    height: 35vh;
    width: 100%;
}
.what-we-do h2{
    text-align: center;
    font-size: 30px;
    font-family: "poppins", sans-serif;
    padding-top: 2%;
}
.section{
    display: flex;
}
.what-we-do div{
    /* display: inline-block; */
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    /* width: 580px; */
}
.what-we-do div p{
    font-family: "lato", sans-serif;
}
.what-we-do .hidden{
    display: none;
}
.closure {
    text-align: center;
    padding-top: 1%;
    width: 500px;
}
.portfolio h2{
    text-align: center;
    font-size: 30px;
    font-family: "poppins", sans-serif;
    padding-top: 1%;
}
.portfolio div img{
    margin: 10px;
    margin-top: 20px;
    position: absolute;
}
.portfolio .group-img{
    padding-left: 8%; 
}
.portfolio .group-img2{
    padding-left: 8%;
    margin-bottom: 30px;
}
.portfolio .group-img div{
    display: inline-block;
    height: 300px;
    width: 366px;
    margin: 10px;
}
.portfolio .group-img2 div{
    margin-bottom: 20px;
    display: inline-block;
    height: 300px;
    width: 366px;
    margin: 10px;
}
.contact{
    height: 70vh;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg);
    background-size: cover;
    background-position: center;
}
.contact h2{
    color: white;
    font-size: 30px;
    font-family: "poppins", sans-serif;
    text-align: center;
    padding-top: 2%;
}
.contact form button{
    width: 300px;
    height: 50px;
    margin-left: 43%;
    margin-top: 2%;
    border-radius: 15px;
    font-size: 25px;
    color: white;
    border: 1px solid white;
    background-color: rgba(200, 120, 5, 0.001);
    cursor: pointer;
}
.contact form div{
    margin-left: 15%;
}
.contact form input{
    background-color: rgba(200, 120, 5, 0.001);
    border: 1px solid white;
    width: 600px;
    height: 30px;
    padding-left: 1%;
    margin: 1%;
    margin-top: 2%;
    color: wheat;
    font-size: 20px;
}
input::placeholder{
    color: white;
    font-size: 19px;
    font-family: "lato", sans-serif;
}
input:focus{
    border: none;
    outline: 2px solid blue;
}
textarea:focus{
    border: none;
    outline: 2px solid blue;
}
form textarea{
    color: wheat;
    font-size: 20px;
    font-family: "lato", sans-serif;
    width: 67%;
    height: 300px;
    margin-left: 16%;
    margin-top: 1%;
    background-color: rgba(200, 100, 80, 0.001);
    border: 1px solid white;
}
textarea::placeholder{
    color: white;
    font-size: 19px;
    font-family: "lato", sans-serif;
    padding-top: 2%;
    padding-left: 1%;
}
.social-icon{
    margin-left: 33%;
    padding-top: 2%;
    padding-bottom: 1%;
}
.social-icon img{
    margin: 1%;
    cursor: pointer;
}
.footer p{
    text-align: center;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    margin: 0;
}
#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    display: none;
    color: black;
    height: 319px;
    width: 376px;
    padding-top: 150px;
    padding-left: 30px;
    background-color:rgba(255, 255, 255, 0.456);
    position:absolute;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family: 'Delius Swash Caps', cursive; 
}
#result{
    font-size: 20px;
    font-family: "lato", sans-serif;
    color: white;
    position: relative;
    left: 27%;
    top: 5%;
    background-color: rgba(200, 100, 7, 0.01);
    border: 4px double white;
    width: 45%;
    
}
#error{
    color: red;
    font-size: 15px;
    text-align: center;
}
