*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-section{
    height: 100vh;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
}
.logo{
    position: absolute;
    top: 28%;
    left: 47%;
}
.hero-section p{
    font-size: 60px;
    font-weight: 400;
    font-family: "poppins", sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 43%;
    padding-top: 32px;
}
.hero-section h2{
    color: white;
    text-align: center;
    font-family: "poppins", sans-serif;
    position: relative;
    top: 45%;
    font-size: 20px;
}
.mouse{
    position: relative;
    top: 69%;
    left: 50%;
}
.about{
    height: 30vh;
    width: 67%;
    font-size: 20px;
    font-family: "poppins", sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-left: 17%;
}
.about p{
    font-size: 18px;
    font-family: "lato", sans-serif;
    font-weight: 500;
    margin-top: 20px;
}
.services{
    height: 50vh;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg);
    color: white;
    text-align: center;
}
.services h2{
    font-size: 40px;
    font-family: "poppins", sans-serif;
    padding-top: 16vh;
}
.services p{
    font-size: 18px;
    font-family: "lato", sans-serif;
    font-weight: 500;
    margin-top: 20px;
}
.what-we-do{
    height: 30vh;
    width: 100%;
}
.what-we-do h2{
    text-align: center;
    font-size: 30px;
    font-family: "poppins", sans-serif;
    padding-top: 30px;
}
.what-we-do div{
    display: inline-block;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 180px;
    width: 580px;
}
.what-we-do div p{
    font-family: "lato", sans-serif;
}
.what-we-do .img{
   padding-left: 120px;
}
.what-we-do .img1{
    padding-left: 120px;
}
.what-we-do .img2{
    padding-left: 80px;
}
.design{
    padding-right: 80px;
}
.what-we-do .hidden{
    display: none;
}
.what-we-do .hidden p{
    font-family: "lato", sans-serif;
}
.what-we-do .hidden2{
    display: none;
}
.what-we-do .hidden3{
    display: none;
}
.portfolio h2{
    text-align: center;
    font-size: 30px;
    font-family: "poppins", sans-serif;
    padding-top: 30px;
}
.portfolio img{
    margin: 10px;
    margin-top: 20px;
}
.group-img{
    margin-left: 8%;
}
.group-img2{
    margin-left: 8%;
    margin-bottom: 20px;
}
.contact{
    height: 70vh;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg);
    background-size: cover;
    background-position: center;
}
.contact h2{
    color: white;
    font-size: 30px;
    font-family: "poppins", sans-serif;
    text-align: center;
    padding-top: 70px;
}
.contact form input{
    background-color: rgba(200, 120, 5, 0.001);
    border: 1px solid white;
    width: 600px;
    height: 30px;
    padding-left: 15px;
    margin: 15px;
    position: relative;
    left: 15%;
    margin-top: 30px;
}
input::placeholder{
    color: white;
    font-size: 19px;
    font-family: "lato", sans-serif;
    padding-top: 5px;
}
form textarea{
    width: 67%;
    height: 300px;
    position: relative;
    left: 16%;
    margin-top: 20px;
    background-color: rgba(200, 100, 80, 0.001);
    border: 1px solid white;
}
textarea::placeholder{
    color: white;
    font-size: 19px;
    font-family: "lato", sans-serif;
    padding-top: 20px;
    padding-left: 10px;
}
.social-icon{
    margin-left: 28%;
    padding-top: 30px;
    padding-bottom: 5px;
}
.social-icon img{
    margin: 20px;
}
p{
    text-align: center;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    margin-top: 5px;
}

