*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-section{
    height: 100vh;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
}
.logo{
    position: absolute;
    top: 28%;
    left: 47%;
}
.hero-section p{
    font-size: 60px;
    font-weight: 400;
    font-family: "poppins", sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 43%;
    padding-top: 32px;
}
.hero-section h2{
    color: white;
    text-align: center;
    font-family: "poppins", sans-serif;
    position: relative;
    top: 45%;
    font-size: 20px;
}
.mouse{
    position: relative;
    top: 69%;
    left: 50%;
}
.about{
    height: 50vh;
    width: 67%;
    font-size: 20px;
    font-family: "poppins", sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-left: 17%;
}
.about p{
    font-size: 18px;
    font-family: "lato", sans-serif;
    font-weight: 500;
}